<!-- header start -->
  <header class="header js-header">
    <div class="container">
      <div class="logo">
        <a href="#">Shine <span>& Sparkle</span></a>
      </div>
      <button type="button" class="nav-toggler js-nav-toggler">
        <span></span>
      </button>
      <nav class="nav js-nav">
        <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#info">INFO</a></li>
              <div class="sub-menu-1">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            <li><a href="#service-inquiries">SERVICE INQUIRIES</a></li>
            <li><a href="#profile">PROFILE</a></li>
            <li><a href="#wallet">WALLET</a></li>
            <li><button class="btnLogin-popup">Login</button></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- header end -->