  <!-- header start -->
  <header class="header js-header">
    <div class="container">
      <div class="logo">
        <a href="#">Shine <span>& Sparkle</span></a>
      </div>
      <button type="button" class="nav-toggler js-nav-toggler">
        <span></span>
      </button>
      <nav class="nav js-nav">
        <ul>
            <li><a href="#home">HOME</a></li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropbtn">
                INFO <ion-icon name="caret-down-outline"></ion-icon>
              </a>  
              <ul class="sub-menu-1">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropbtn"> 
                SERVICE INQUIRIES <ion-icon name="caret-down-outline"></ion-icon> 
              </a> 
              <ul class="sub-menu-1"> 
                <li><a href="#">Office Cleaning</a></li> 
                <li><a href="#">House Cleaning</a></li> 
                <li><a href="#">Move In / Move Out</a></li> 
                <li><a href="#">Airbnb Cleaning</a></li> 
              </ul> 
            </li>
            <li><a href="#profile">PROFILE</a></li>
            <li><a href="#wallet">WALLET</a></li>
            <li><button class="btnLogin-popup">Login</button></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- header end -->